//자주 사용되는 기능들을 모아놓는 preset.scss

.screen-out {   // 화면에는 보여지지 않지만 스크린 리더가 읽어주는것. 보이지는 않게
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.scroll-x { // 자주 사용되는 기능은 아예 클래스명으로. 가로 스크롤 생성하는 css
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;    // 띄어쓰기 안함.
    -webkit-overflow-scrolling: touch;  // 모바일에서 터치로 스크롤링할때, 가속도 효과라던가..?
    -ms-overflow-style: none;   // IE에서 스크롤바 제거
    scrollbar-width: none;  // FF에서 스크롤바 제거
    &::-webkit-scrollbar {  // 크롬에서 스크롤바 제거
        display:none;
    }
}

// 마진, 패딩 하나 주자고 계속 클래스를 만들고 넣어줄 수는 없으니
// 미리 클래스명으로 만들어 놓음. 본인의 패턴을 잘 파악해보자.

.mgt0 {
    margin-top:0px !important;
}

.mgt2 {
    margin-top:2px !important;
}

.mgt4 {
    margin-top:4px !important;
}

.mgt6 {
    margin-top:6px !important;
}

.mgt8 {
    margin-top:8px !important;
}

.mgt10 {
    margin-top:10px !important;
}

.mgt12 {
    margin-top:12px !important;
}

.mgt14 {
    margin-top:14px !important;
}

.mgt16 {
    margin-top:16px !important;
}

.mgt18 {
    margin-top:18px !important;
}