// 브라우저가 기본적으로 제공하는 스타일이 있음.
// reset.css 를 적용하고 나면 기본적으로 제공되는 스타일을 모두 뺄 수 있다.
// 이를 보일러 플레이트 코드라 한다.
// 보일러 플레이트 코드: 변경 없이 계속하여 재사용할 수 있는 저작품을 말한다.
// 이 아이디어는 때로 보일러 플레이트 코드라고 부르는, 재사용 가능한 프로그램을 가리키는데 사용되기도 한다.
body {
    min-width: 320px;
    line-height: normal;
    font-size: 14px;
    color: $booking-color-text1;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
    font-family: $font-default;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  // 클릭할때 번쩍거리는 효과 없앰
}

.hidden,
[hidden] {
    display: none !important;   //hidden 클래스를 넣어서 display none으로. 자주 써서 추가
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit; // 보통 파란색에 언더라인이 있는데, 이를 없애고 부모요소의 속성을 가져옴.
    cursor: pointer;    // 커서ON  
    text-decoration: none;  // 텍스트 꾸미기효과 x
    &:hover,
    &:focus {
        text-decoration: none;  // 호버, 포커스했을때 텍스트 언더라인 효과 없앰
    }
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;    //커서를 올려도 아무런 효과 x
    }
}

select,
input,
textarea,
button {
    -webkit-appearance: none;   //webkit류 브라우저의 기본 스타일 제거
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:disabled {
    background-color: rgba(255, 255, 255, 0);
    cursor: not-allowed;
}

select {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::-ms-expand {
        display: none;  // ms류 브라우저의 기본 스타일 제거
    }
}

input,
textarea {
    font-size: inherit;
    border: 0;
    &::placeholder {
        /* Chrome, Safari, Firefox */
        color: #444;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* IE, Edge */
        color: #444;
        opacity: 1;
    }
    &[readonly],
    &:disabled {
        &::placeholder {
            /* Chrome, Safari, Firefox */
            color: rgba(#000, 0.2);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* IE, Edge */
            color: rgba(#000, 0.2);
            opacity: 1;
        }
    }
    &::-ms-clear,   // input창에서 기본 제공되는 x버튼 제거
    &::-ms-reveal { // 가상요소도 브라우저마다 선택o
        /* IE, Edge */
        display: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}