// 공통으로 사용될 값들을 모으는데 사용됨
// font
$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;

// size
$m-padding: 18px;   //모바일의 패딩값은 18로.
$place-header-height: 48px;
$place-tab-height: 46px;