// 주문하는 페이지의 공통 스타일
.container {
    // 최상단(x.0)에서 헤더와 네비탭만큼 padding으로 밀어줌
    padding-top: $place-header-height + $place-tab-height;
    // 원본 페이지는 회색 border로 영역을 분할했지만
    // 그냥 배경으로 회색을 깔고 각div에 마진을 주는게 더 편할거같다.
    background-color: $booking-color-border151;

    height:2000px;
}

.common-inner {
    // 720px가 넘어가면 가운데 정렬
    // 아래 속성으로도 중앙정렬이 안된다면
    // 1. Doctype미선언, 2. width값 명시 없음, 3. inline속성일 경우 block으로 해줘야함
    // 본문 영역은 일정 영역 이상을 넘어가지 않음.
    margin: 0 auto;
    max-width: 720px;
}